**Basics-cs(2)**

**Calculate the multiplication and sum of two numbers**

In [ ]:
num1=20
num2=30
print("Result of product",num1*num2)

num1=40
num2=30
print("Sum of the numbers",num1+num2)

Result of product 600
Sum of the numbers 70

 **Print the Sum of a Current Number and a Previous number**

In [ ]:
a = 10
for i in range(1, a + 1):
    previous_num = i - 1
    a_sum = previous_num + i
    print("Current_Number", i, "Previous_Number", previous_num, "Sum:", a_sum)

Current_Number 1 Previous_Number 0 Sum: 1
Current_Number 2 Previous_Number 1 Sum: 3
Current_Number 3 Previous_Number 2 Sum: 5
Current_Number 4 Previous_Number 3 Sum: 7
Current_Number 5 Previous_Number 4 Sum: 9
Current_Number 6 Previous_Number 5 Sum: 11
Current_Number 7 Previous_Number 6 Sum: 13
Current_Number 8 Previous_Number 7 Sum: 15
Current_Number 9 Previous_Number 8 Sum: 17
Current_Number 10 Previous_Number 9 Sum: 19

**Print characters present at an even index number**

In [ ]:
a= input('Enter word ')
print("String:", a)
x = list(a)
for i in x[0::2]:print(i)

Enter word Nikileswari
String: Nikileswari
N
k
l
s
a
i

**Remove first n characters from a string**

In [ ]:
def removech(word, n):
    print('String:', word)
    x = word[n:]
    return x
print("Removing ch's from a string")
print(removech("Nikileswari", 4))
print(removech("Nikileswari", 2))

Removing ch's from a string
String: Nikileswari
leswari
String: Nikileswari
kileswari

**Check if the first and last numbers of a list are the same**

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
print("Given List:",numbers_x)
if numbers_x[0]==numbers_x[-1]:
  print("true")
elif numbers_x[0]!=numbers_x[-1]:
  print("false")

print("Given List:",numbers_y)
if numbers_y[0]==numbers_y[-1]:
  print("true")
elif numbers_y[0]!=numbers_y[-1]:
  print("false")

Given List: [10, 20, 30, 40, 10]
true
Given List: [75, 65, 35, 75, 30]
false

**Display numbers divisible by 5**

In [ ]:
numbers_list=[10, 20, 33, 46, 55]
print('Divisible by 5:')
for num in numbers_list:
    if num % 5 == 0:
        print(num)

Divisible by 5:
10
20
55

**Find the number of occurrences of a substring in a string**

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
y= str_x.count("Emma")
print("Emma appeared for",y)

Emma appeared for 2

**Print the following pattern**

In [ ]:
for num in range(6):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

**Check Palindrome Number**

In [ ]:
number=int(input("Enter number:"))
sample=number
reverse=0
while(number>0):
    digit=number%10
    reverse=reverse*10+digit
    number=number//10
if(sample==reverse):
    print("the number is a palindrome")
else:
  print("the number is not a palindrome")

Enter number:141
the number is a palindrome

**Merge two lists using the following condition**

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("odd numbers in list1")
for num in list1:
    if num % 2 != 0:
        print(num)
print("even numbers in list2")
for num1 in list2:
    if num1 % 2 == 0:
        print(num1)
result=[]
result.append(num)
result.append(num1)
print(result)
list3= num+num1
print(list3)

odd numbers in list1
25
35
even numbers in list2
40
60
90
[35, 90]
125

**Get each digit from a number in the reverse order**

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

**Calculate income tax**

In [ ]:
income = 45000
tax_pay = 0
print("income", income)
if income <= 10000:
    tax_pay = 0
elif income <= 20000:
    x = income - 10000
    tax_pay = x * 10 / 100
else:
    tax_pay = 0
    tax_pay = 10000 * 10 / 100
    tax_pay += (income - 20000) * 20 / 100

print("Total tax ", tax_pay)

income 45000
Total tax  6000.0

**Print multiplication table from 1 to 10**

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

**Print a downward half-pyramid pattern of stars**

In [ ]:
for i in range(5, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * *
* * *
* *
*

**Get an int value of base raises to the power of exponent**

In [ ]:
def exponent(base,exp):
    result = 1
    for i in range(exp):
        result *= base

    return result

print(exponent(2,5))
print(exponent(5,4))

32
625

**CS-3 LOOP**

**Print first 10 natural numbers using while loop**

In [ ]:
i=int(input("Enter the start range: "))
n=int(input("Enter the end range: "))
while i<=n:
  print(i)
  i+=1

Enter the start range: 5
Enter the end range: 5
5

**Print the following pattern**

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

**Calculate sum of all numbers from 1 to a given number**

In [ ]:
n=int(input('Enter a  number: '))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter a  number: 5
15

**Print multiplication table of a given number**

In [ ]:
n=int(input('Enter a number: '))
t=int(input('Enter the range value: '))
for i in range(1,t+1):
  mul=n*i
  print(f'{n} * {i} = {mul}')

Enter a number: 5
Enter the range value: 6
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

**Display numbers from a list using a loop**

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
  if num%5==0:
    if num>150:
      continue
    elif num>500:
      break
    print(num)

75
150
145
50

**Count the total number of digits in a number**

In [ ]:
n=int(input('Enter a number: '))
count=0
while n!=0:
  n=n//10
  count=count+1
print(count)

Enter a number: 5
1

**Print the following pattern**

In [ ]:
for i in range(6,0,-1):
  for j in range(i,0,-1):
    print(j,end='')
  print()

654321
54321
4321
321
21
1

**Print list in reverse order using a loop**

In [ ]:
l1=[10,20,30,40,50]
for i in range(len(l1)-1,-1,-1):
  print(l1[i])

50
40
30
20
10

**Display numbers from -10 to -1 using for loop**

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Display a message “Done” after the successful execution of the for loop**

In [ ]:
for i in range(5):
  print(i)
else:
  print('Done!')

0
1
2
3
4
Done!

**Print all prime numbers within a range**

In [ ]:
s=int(input('Enter the start range: '))
e=int(input('Enter the end range: '))
for i in range(s,e):
    if i>1:
        for j in range (2,i):
            if i%j==0:
                break
        else:
            print(i)

Enter the start range: 10
Enter the end range: 20
11
13
17
19

**Display Fibonacci series up to 10 terms**

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
count = 0

if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print("Fibonacci sequence:")
    print(a)
else:
    print("Fibonacci sequence:")
    for i in range (n):
        print(a, end=" ")
        temp = a + b
        a = b
        b = temp
        count += 1

Enter the number of terms: 5
Fibonacci sequence:
0 1 1 2 3

**Find the factorial of a given number**

In [ ]:
n=int(input('Enter a number: '))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a number: 7
5040

**Reverse a integer number**

In [ ]:
n= int(input('Enter the integer: '))
rev=0
for i in range(n):
  if n!=0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print(rev)

Enter the integer: 12345
54321

**Print elements from a given list present at odd index positions**

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(my_list[1::2])

[20, 40, 60, 80, 100]

**Calculate the cube of all numbers from 1 to a given number**

In [ ]:
n=int(input('Enter the values of starting range: '))
for i in range(1,n+1):
  print(f'Current number is : {i} and the cube is : {i**3}')

Enter the values of starting range: 10
Current number is : 1 and the cube is : 1
Current number is : 2 and the cube is : 8
Current number is : 3 and the cube is : 27
Current number is : 4 and the cube is : 64
Current number is : 5 and the cube is : 125
Current number is : 6 and the cube is : 216
Current number is : 7 and the cube is : 343
Current number is : 8 and the cube is : 512
Current number is : 9 and the cube is : 729
Current number is : 10 and the cube is : 1000

**Find the sum of the series up to n terms**

In [ ]:
n= int(input('Enter the terms: '))
a=int(input('Enter the series number: '))
sum=0
for i in range(1,n+1):
  sum=sum+int(str(a)*i)
print(sum)

Enter the terms: 7
Enter the series number: 5
6172835

**Print the following pattern**

In [ ]:
for i in range(4):
  for j in range(i+1):
    print('*',end=' ')
  print()

for i in range(5):
  for j in range(i-1,4):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# **cs if**

**Grades Assignment :
Write a program that assigns grades to students based on their scores.**

In [ ]:
st_det=[[1,'Aron',98],[2,'Boston',72],[2,'Charles',65],
 [4,'David',43],[5,'Edward',21]]

for student in st_det:
  mark=student[2]
  if mark>90:
    grade='A'
  elif mark>80 and mark<=90:
    grade='B'
  elif mark>70 and mark<=80:
    grade='C'
  elif mark>60 and mark<=70:
    grade='D'
  else:
    grade='E'

  student.append(grade)

for student in st_det:
  print(student)

[1, 'Aron', 98, 'A']
[2, 'Boston', 72, 'C']
[2, 'Charles', 65, 'D']
[4, 'David', 43, 'E']
[5, 'Edward', 21, 'E']

**Age Verification :
Write a program that checks if a person is eligible to vote**

In [ ]:
data = input("Enter student details (Name,Age) separated by semicolons: ")
pep_det = []
people = data.split(';')
for person in people:
    people_det = person.split(',')
    name = people_det[0]
    age = int(people_det[1])
    if age >=18:
        eligibility = 'Eligible'
    else:
        eligibility = 'Not Eligible'
        pep_det.append([name, age , eligibility])

print("\nFinal details:")
for person in pep_det:
    print(person)

Enter student details (Name,Age) separated by semicolons: Sharmila,12;Dharani,19;Gauhar,23;Harshini,21;Yasmin,12

Final details:
['Sharmila', 12, 'Not Eligible']
['Yasmin', 12, 'Not Eligible']

**Discount Calculation :
Write a program that calculates the final price after applying a discount.**

In [ ]:
discount_details=[]
while True:
  data=input('Enter the details (Product,actual_price,discount): ')
  if data=='':
    break
  data=data.split(',')
  product=data[0]
  actual_price=int(data[1])
  discount=int(data[2])
  dis=(actual_price/100)*discount
  final_price=actual_price-dis
  discount_details.append([product,actual_price,discount,final_price])

print('Final details: ')
for detail in discount_details:
  print(detail)

Enter the details (Product,actual_price,discount): Ball,200,10
Enter the details (Product,actual_price,discount):  Bat,800,20
Enter the details (Product,actual_price,discount): Football,1200,30
Enter the details (Product,actual_price,discount): BasketBall,1290,10
Enter the details (Product,actual_price,discount):
Final details:
['Ball', 200, 10, 180.0]
[' Bat', 800, 20, 640.0]
['Football', 1200, 30, 840.0]
['BasketBall', 1290, 10, 1161.0]

**Temperature Conversion :
Write a program that converts temperature from Celsius to Fahrenheit.**

In [ ]:
c=int(input('Enter the temperature in celcius: '))
f=int(input('Enter the temperature in fahrenheit: '))
c_to_f=(c*9/5)+32
f_to_c=(f-32)*5/9
print(f'{c} degree celcius is {c_to_f} fahrenheit')
print(f'{f} degree fahrenheit is {f_to_c} celcius')

Enter the temperature in celcius: 32
Enter the temperature in fahrenheit: 32
32 degree celcius is 89.6 fahrenheit
32 degree fahrenheit is 0.0 celcius

**Even or Odd :
Write a program that checks if a number is even or odd.**

In [ ]:
num=int(input('Enter a number: '))
if num%2==0:
  print(f'{num} is an even number')
else:
  print(f'{num} is a odd number')

Enter a number: 5
5 is a odd number

**Positive or Negative :
Write a program that checks if a number is positive, negative, or zero.**

In [ ]:
num=int(input('Enter a number: '))
if num==0:
  print('The given number is zero')
elif num>0:
  print('The given number is positive')
else:
  print('The given number is negative')

Enter a number: 5
The given number is positive

**Discount Eligibility :
Write a program that checks if a customer is eligible for a discount based on their purchase amount.**

In [ ]:
dis_amt=1200
amt=int(input('Enter the total purchase amount: '))
if amt>=dis_amt:
  print('Discount is applicable')
else:
  print('Discount is not applicable')

Enter the total purchase amount: 900
Discount is not applicable

**Prime Number Check :
Write a program that checks if a number is prime.**

In [ ]:
num=int(input('Enter a number: '))
if num>1:
  for i in range(2,num):
    if num%i==0:
      print("It's not a prime number")
      break
  else:
    print("It's a prime number")
else:
  print("It's not a prime number")

Enter a number: 5
It's a prime number

**BMI Calculator :
Write a program that calculates the Body Mass Index (BMI) and categorizes it.**

In [ ]:
weight=float(input('Enter your weight in kg: '))
height=float(input('Enter your height in m: '))
bmi=weight/(height**2)
print('The BMI value is: ',bmi)

Enter your weight in kg: 45
Enter your height in m: 160
The BMI value is:  0.0017578125

**Divisibility Check :  
Write a Python program that checks if a number is divisible by 3, 5, or both.**

In [ ]:
num=int(input('Enter a number: '))
if num%3==0 and num%5==0:
  print('The number is divisible by both 3&5')
elif num%3==0:
  print('The number is divisible by 3 only')
elif num%5==0:
  print('The number is divisible by 5 only')
else:
  print('The number, neither divisible by 5 nor by 3')

Enter a number: 10
The number is divisible by 5 only

**Quadratic Equation Solver:  
Write a Python program that solves quadratic equations (ax^2 + bx + c = 0) and displays the roots.**

In [ ]:
import cmath
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))

d=(b**2)-(4*a*c)
sol1=(-b - cmath.sqrt(d))/2*a
sol2=(-b + cmath.sqrt(d))/(2*a)

print(f'The solution are {sol1:.2f} and {sol2:.2f}')

Enter a: 10
Enter b: 12
Enter c: 14
The solution are -60.00-101.98j and -0.60+1.02j

**Number Range Check :
Write a Python program that checks if a given number lies within a certain range [10, 20]**

In [ ]:
n=int(input('Enter a number: '))
r=range(10,20)
if n in r:
  print('The number is in the range')
else:
  print('The number is not in the range')

Enter a number: 10
The number is in the range

**Triangle Validity :
 Write a Python program to check whether a triangle is valid or not given its three sides.**

In [ ]:
side=input('Enter the sides with comma: ')
side=side.split(',')
s_count=len(side)
if s_count==3:
  print('It is a triangle')
else:
  print('It is not a triangle')

Enter the sides with comma: 12,13,14
It is a triangle

**Password Strength Check :
Write a Python program to check the strength of a password. It should have at least 8 characters, include at least one number, and at least one uppercase letter.**

In [ ]:
import re
password=input('Enter your password:')
if len(password)>=8 and re.search('[a-z]',password) and re.search('[A-Z]',password) and re.search('[@_$]', password):
  print('Valid password')
else:
  print('Invalid password')

Enter your password:xgd
Invalid password

**Income Tax Calculation :
Write a Python program to calculate the income tax based on given slabs.**

In [ ]:
income=int(input('Enter the total income: '))
if income<=10000:
  tax=0
elif income<=20000:
  tax=(income-10000)*(10/100)
else:
  tax=(income-20000)*(20/100)+(10000*0.1)
print(f'The tax amount is {tax}')

Enter the total income: 1000
The tax amount is 0

**Calculate Electricity Bill :
Write a Python program to calculate the electricity bill based on the following rates:**

In [ ]:
units=int(input('Enter the unit: '))
if units<=100:
  bill=units*10
elif 100< units <=200:
  bill=(100*10)+(units-100)*15
elif 200< units <=300:
  bill=(100*10)+(units-100)*15+(units-200)*20
else:
  bill=(100*10)+(units-100)*15+(units-200)*20+(units-300)*25
print(f' The bill amount is {bill}')

Enter the unit: 100
 The bill amount is 1000

**Calculate Grade :
Write a Python program to calculate the grade of a student based on their marks**

In [ ]:
mark=int(input('Enter your mark: '))
if mark>450:
  print('A1 Grade')
elif 450<mark<400:
  print('A Grade')
elif mark<350 and mark<=400:
  print('B Grade')
elif mark<300 and mark<=350:
  print('C Grade')
elif mark<250 and mark<=300:
  print('D Grade')
else:
  print('E Grade')

Enter your mark: 500
A1 Grade

**Convert 24-hour to 12-hour Time Format :
Write a Python program to convert time from 24-hour format to 12-hour format**

In [ ]:
time=input('Enter the time in 24 hour format: ')
time=time.split(':')
hours=int(time[0])
minutes=int(time[1])
if hours==0:
  hours=12
  period='AM'
elif hours<12:
  period='AM'
elif hours==12:
  period='PM'
else:
  hours-=12
  period='PM'
print(f'{hours}:{minutes} {period}')

Enter the time in 24 hour format: 12:24
12:24 PM

**BMI Categorization :
Write a Python program to calculate the BMI (Body Mass Index) and categorize it.**

In [ ]:
weight=float(input('Enter your weight in kg:'))
height=float(input('Enter your height in m: '))
bmi=weight/(height**2)
if bmi<18.5:
  print('Underweight')
elif 18.5<bmi <=25:
  print('Normal')
elif 25< bmi <=30:
  print('Overweight')
else:
  print('Obesity')

Enter your weight in kg:50
Enter your height in m: 160
Underweight

**Determine Season from Month :
Write a Python program to determine the season based on the given month**

In [ ]:
month=input('Enter month: ')
if month.lower() in ['december','january','february']:
  print("It's winter season")
elif month.lower() in ['march','april','may']:
  print("It's summer season")
elif month.lower() in ['june','july','august','september']:
  print("It's monsoon season")
else:
  print("It's post-monsoon season")

Enter month: march
It's summer season

**Day of the Week :
Write a Python program that maps a number (1-7) to a day of the week**

In [ ]:
days = {
    1: 'Sunday',
    2: 'Monday',
    3: 'Tuesday',
    4: 'Wednesday',
    5: 'Thursday',
    6: 'Friday',
    7: 'Saturday'
}
n = int(input('Enter a number (1-7): '))
if 1 <= n <= 7:
    print(f'The day of the week for the number {n} is {days[n]}')
else:
    print('Invalid number. Please enter a number between 1 and 7.')

Enter a number (1-7): 1
The day of the week for the number 1 is Sunday

**Check Vowel or Consonant:
Write a Python program that checks whether a given character is a vowel or consonant**

In [ ]:
c=input('Enter a character: ')
if c.isdigit():
  print('Invalid! Enter a character')
elif c.lower() in ['a','e','i','o','u']:
  print('The given character is a vowel')
else:
  print('The given character is a consonant')

Enter a character: a
The given character is a vowel

**Employee Bonus Calculation:
Write a Python program that calculates the bonus for an employee based on their years of service.**

In [ ]:
emp_det=[]
while True:
    data=input("Enter employee's (name,year of service,salary): ")
    if data=='':
        break
    data=data.split(',')
    name=data[0]
    year=int(data[1])
    salary=int(data[2])

    if year>10:
        bonus_salary=salary+salary*(10/100)
    elif 5<year<=10:
        bonus_salary=salary+salary*(5/100)
    else:
        bonus_salary=salary+salary*(2/100)

    emp_det.append([name,year,salary,bonus_salary])

print('Employee details after bonus calculation:')
for detail in emp_det:
  print(detail)

Enter employee's (name,year of service,salary): Ashley,10,56000
Enter employee's (name,year of service,salary):
Employee details after bonus calculation:
['Ashley', 10, 56000, 58800.0]

**Check Palindrome:
Write a Python program that checks whether a given string is a palindrome.**

In [ ]:
st_value=input('Enter a value: ')
st_low=st_value.lower()
if st_low==st_low[::-1]:
  print('The given number is a palindrome')
else:
  print('The given number is not a palindrome')

Enter a value: hello
The given number is not a palindrome